.DS_Store
build/*
src/font/*.c
include/font/*.h
tools/bin/*
tools/compiler/bin
tools/compiler/include
tools/compiler/lib
tools/compiler/libexec
tools/compiler/share
tools/compiler/x86_64-w64-mingw32
qemu/OVMF_VARS-pure-efi.fd
